* {
  font-family: 'Poppins', sans-serif;
}

/* Mobile fixes */
@media (max-width: 768px) {

  .filter {
    width: 100%;
  }

  .category-all {
    width: 100%;
  }

  .export-dashboard {
    width: 100%;
  }

}